
<ng-container *ngIf="(profileData | async) as data; else loading">


    


    <div class="user-info">
        <div class="main-info">
            <div class="intro"> 
                <span class="full-name">{{data.user.firstName}} {{data.user.lastName}}</span>
                <span class="rating">{{data.user.rating | rating}}</span>
                <a class="anchor" matTooltip="Copy profile link">
                    <img src="assets/to-clipboard.png" (click)="toClipboard()">
                </a> 
            </div>
            <div class="registered-since">
                member of mode-concept since 
                {{timestampToDate(data.user.registeredDate) | date}}
            </div>
        </div>
        <div class="contacts">
            
            <div class="adress">
                <span>{{data.user.city}}, </span>
                <span>{{data.user.country}}</span>
                <img *ngIf="getCountryCode(data.user.country)" src="https://www.countryflags.io/{{getCountryCode(data.user.country)}}/flat/24.png">
            </div>
            <div class="mail" matTooltip="Write E-mail">
                <a href="mailto: {{data.user.email}}">{{data.user.email}}</a>
            </div>
        </div>
    </div>

    <div *ngIf="data.reviews.length; else noReviews" class="content-block">
        <app-rating-graph
        [reviews]="data.reviews"
        ></app-rating-graph>
    </div>

        
    <ng-template #noReviews>
        <div>No Reviews</div>
    </ng-template>
    
    <div *ngIf="data.posts.length; else noPosts" class="content-block">
        <app-last-activity [products]="data.posts"></app-last-activity>
    </div>

    <ng-template #noPosts>
        <div>No posts so far</div>
    </ng-template>


</ng-container>


<ng-template #loading>
    <div class="loading">
        <mat-spinner class="spinner" [diameter]="25"></mat-spinner>
    </div>
</ng-template>