
$light-shadow: 2px 2px 3px gray;
$strong-shadow: 5px 5px 10px 10px gray;

@media (max-width: 1000px){
    .flex-left{
        padding-left: 5%;
    }
    .flex-right{
        padding-right: 5%;
        .info-panel{
            font-size: 11px;
        }
    }
}

@media (max-width: 700px){

    hr{
        display: none;
    }
    
    .flex-box{
        flex-direction: column;
    }
    
    .flex-left{
        flex-direction: row;
        justify-content: center;
        padding: 10px 10px;
        border-right:  none;
        flex-wrap: wrap;

        #global-settings{
            margin-bottom: 0;
            order: 1;
            flex-basis: 100%;
            .intro-field {
                padding: 0;
                .settings {
                    display: flex;
                    flex-direction: row;
                    margin-left: unset;
                    flex-basis: 100%;
                    button:first-child{
                        flex-basis: 50px;
                        flex-grow: 5;
                    }
                    button:last-child{
                        flex-basis: 50px;
                        flex-grow: 1;
                    }
                }
            }
        }
        #price-section{
            order: 2;
        }
        #color-section{
            order: 3;
        }
        #material-section{
            order: 4;
        }
        
        
        .filter-section{
            width: unset;
            flex-basis: 30%;
            flex-grow: 1;
            position: relative;
            margin: 0;
            align-items: center;
            box-shadow: $light-shadow;
            transition: box-shadow 0.5s;
            &:not(:last-child){
                // border-right: solid 1px #446E8E;
            }
            

            .intro-field{
                width: 100%;
                padding: 3px 5px;
                background: #f1f1f1;
                z-index: 2;
                .settings{
                    .reset:not(#resetall){
                        height: 20px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
                
            }
            .action-field{
                position: absolute;
                top: 0;
                max-height: 0;
                overflow: hidden;
                z-index: 1;
                padding: 10px;
                background: #f1f1f1;
                box-shadow: $light-shadow;
                border-radius: 3px;
                transition: all 0.5s;
                width: 100%;
            }

            &:not(#global-settings):hover {
                box-shadow: $strong-shadow; 
                .action-field{
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    top: 90%;
                    max-height: 200px;
                    box-shadow: $strong-shadow;
                }
            }
        }

        #price-section #price-range{
            flex-direction: column;
            *{
                width: 100% !important;
            }
        }

        #color-section{
            #strict-mode{
                position: absolute;
                height: 20px;
                bottom: 0;
                right: 45px;
                border-bottom: none;
            }
        }
        
        
    }
    .flex-right{
        flex: 100%;
        padding: 0;
        .info-panel{
            padding-left: 20px;
            padding-right: 20px;
        }
        .product-list{
            padding-left: 5%;
            padding-right: 5%;
        }
        
    }
}