<div style="max-height: 450px">
  <mat-dialog-actions align="end" mat-dialog-close>
    <span aria-hidden="true" (click)="closeDialog()" class="close">&times;</span>
  </mat-dialog-actions>


  <div class="sign-up">

    <h3 mat-dialog-title>{{info}}</h3>
    <form autocomplete="off" [formGroup]="profileForm">
      <div>
        <div>


          <div class="sign-up-form">
            <mat-form-field appearance="outline" [class.indent]="firstNameError">
              <mat-label>First Name</mat-label>
              <input _onlyAlphabet  formControlName="firstName" matInput required>
              <mat-error>{{firstNameError}}</mat-error>
            </mat-form-field>
          </div>

          <div class="sign-up-form">
            <mat-form-field appearance="outline" [class.indent]="lastNameError">
              <mat-label>Last Name</mat-label>
              <input _onlyAlphabet  formControlName="lastName" matInput required>
              <mat-error>{{lastNameError}}</mat-error>
            </mat-form-field>
          </div>

          <div class="sign-up-form">
            <mat-form-field appearance="outline" [class.indent]="emailError">
              <mat-label>E-mail</mat-label>
              <input formControlName="email" matInput required>
              <mat-error>{{emailError}}</mat-error>
            </mat-form-field>
          </div>

          <div class="sign-up-form">
            <mat-form-field appearance="outline" class="indent">
              <mat-label>Password</mat-label>
              <mat-hint align="end">At least 8 characters, one uppercase, one lowercase letter, one numeric value</mat-hint>
              <input formControlName="password" type="password" matInput required>
              <mat-error>{{passError}}</mat-error>
            </mat-form-field>
          </div>

          <div class="sign-up-form">
            <mat-form-field appearance="outline" [class.indent]="passConfirmError">
              <mat-label>Password Coonfirm</mat-label>
              <input formControlName="passwordConfirm" type="password" matInput required>
              <mat-error>{{passConfirmError}}</mat-error>
            </mat-form-field>
          </div>


 

          <!-- <input #emailInpElem type="email" (blur)="invMess = true" _format="lowercase" (focus)="invMess = false"
            maxlength="28" formControlName="email" class="form-control mb-2 invalid-email" placeholder="E-mail">
          <mat-spinner class="await-async-validator-spinner" *ngIf="emailAwiitIsBusyAnime" [diameter]="19">
          </mat-spinner>

          <span class="invalid-message" *ngIf="!busyEmail && invMess && email.invalid && !email.pristine">Invalid
            Email</span>
          <span class="invalid-message" *ngIf="busyEmail"> This E-mail address already registered...</span>


          <input (blur)="passComfirm(comf.value); invMess = true" (focus)="invMess = false" required minlength="8"
            maxlength="18" formControlName="password" type="password" class="form-control mb-2" placeholder="Password"
            [_feedback]="pass">
          <span class="pass-info">At least 8 characters, one uppercase, one lowercase letter, one special symbol.</span>

          <input (keyup)="passComfirm($event.target.value)" #comf (blur)="passComfirm('',comf.value); invMess = true"
            (focus)="invMess = false" maxlength="18" type="password" class="form-control mb-2 confirm-pass"
            placeholder="Comfirm Password" [ngClass]="{ 'passComf':  comfirmPass }">

          <span class="invalid-message" *ngIf="invMess && comfirmPass">Passwords do not match </span> -->

        </div>
      </div>
      <button (click)="onSubmit()" class="btn btn-outline-dark" [_inactive]="profileForm.invalid">Registration</button>
    </form>
    <br>

    <hr *ngIf="!awaitAnimation">
    <mat-progress-bar mode="indeterminate" *ngIf="awaitAnimation"></mat-progress-bar>


    <span class="privacy-info">By creating an account, you agree to <b>ModeConcept’s</b> conditions of use and privacy
      policy.</span>


  </div>

</div>