$active: #008cff;
$primary: #446E8E;

.category-panel{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    width: 120px; 
    padding: 10px;
    transform: translateX(-100%);
    background: #f0f0f5;
    color: $primary;
    transition: all 0.4s;

    .panel-tab{
        cursor: pointer;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        font-variant: small-caps;
        transition: all 0.2s;
        &:hover{
            text-indent: 5px;
            color: $active;
            border-left: solid $active;
        }
    }
}

.displayed{
    box-shadow: 2px 2px 3px gray;
    transform: translateX(0);
}

.active-route{
    text-indent: 5px;
    color: $active;
    border-left: solid $active;
}

.menu-item{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 0.5em;
    transition: all 0.2s;
    &:hover{
        height: 25px;
        width: 25px;
    }
}

hr{
    margin: 5px;
}