
header {  
  background: #2f3242;
    font-family:  Arial, sans-serif;
    color: rgb(255, 255, 255); height: 10%; 

    .shop-name {
      cursor: pointer;
      font-family: 'Times New Roman', serif;
      font-size: 230%;
       float: left;
       margin: 0.5% 11% 0% 16%;
    } 
    .shop-name:hover {
      font-size: 240%;
      transition: 0.5s;
      color: rgb(163, 212, 212);
    }
  }


.rout-menu {
  width: 100%;

    menuitem {
      cursor: pointer;
        margin: 0% 1%;
        font-style: oblique;
        font-size: 130%;
        padding: 0.3%;
    }    
    .sigunIn, .signUp, .logOut { float: right;}
    menuitem:hover {
      font-size: 140%;
      transition: 0.5s;
      color: rgb(221, 220, 219)
    }
    .time {font-size: 120%; float: right;}
}

hr { background: rgb(92, 92, 92)}



