$tralslateEnd: translateX(-66%);
$tralslateStart: translateX(0%);


.emojis { 
    transition: 1s;
    width: 23%;
    float: right;
    background: #ececec;
    border-radius: 17px;
    transform: $tralslateEnd;
}

.single-emoji {
    cursor: pointer;
    margin: 0.8%;
    font-size: 1.1rem;
}
.animate {
    animation-name: emoji-panel-toggle;
    animation-duration: 1s;
}

@keyframes emoji-panel-toggle {
    from { transform: $tralslateStart;}
    to { transform: $tralslateEnd;}
  }