@import '../../../../global-vars.scss';

.emojis-outer-container{
    background: $header-theme;
    border-radius: 3px;


    .emojis-inner-container { 
        margin-right: 50px;
        border-right: #d9d9e4 solid;
        padding: 5px;
        display: flex;
        width: 300px;
        justify-content: space-around;
        flex-wrap: wrap;
        .single-emoji {
            cursor: pointer;
        }
    }
}


