.flex-box{
    display: flex;
    position: relative;
}

.flex-left{
    position: sticky;
    top: 0px;
    flex: 27%;
    padding: 30px 0 50px 0;
}
.flex-right{
    flex: 73%;
    padding: 20px 0 50px 0;

    .sort-section {
        margin: 0 0;
    }
}
.filterSection{
    margin-bottom: 25px;
    width: 80%;
}
.selectedColor{
    opacity: 1 !important;
    border: outset rgb(194, 194, 194) 1px !important;
}



.reset-color-filter {
    margin-right: 5px
}



#materialFilter{

    span:not(.color-name){
        display: block;
        height: 20px;
        opacity: 0.3;
    }
    .active{
        opacity: 1 !important;
    }
}
.deactivated{
    opacity: 0.3;
}
#colorFilter{

    .colorSelector{
        height: 25px;
        width: 16%;
        border: none;
        outline: none;
        margin: 2%;
        box-shadow: 2px 2px 2px rgb(131, 131, 131);
        border-radius: 20%;
        opacity: 0.2;
        transition: opacity 0.1s;
        &:active{
            opacity: 0.3;
        }
    }
}
#priceFilter{

    input{
        width: 38%;
        height: 20px;
        margin: 2px;
        font-size: 12px;
        border: solid gray 1px;
        padding: 10px 2px 10px 5px
    }
    #activate{
        background: transparent;
        border: solid gray 1px;
        font-size: 12px;
        color: #446E8E;
        width: 16%;
    }
}

.name{
    font-variant: small-caps;
    font-weight: bold;
    color: #446E8E;
}
.path{
    font-weight: bold;
}
.pathArrow{
    margin: 0 10px;
    color: #446E8E;
    font-size: 14px;
}
.pathDiv{
    font-size: 11px;
    font-family: sans-serif;
    color: #446E8E;
    padding: 3px 10px;
    background-image: linear-gradient(to bottom, white, rgb(242, 242, 247));
    box-shadow: 2px 2px 2px rgb(199, 199, 199);
}
.quantity{
    margin-left: 15px;
}
.reset{
    border: none;
    font-size: 12px;
    background: #446E8E;
    color: white;
    float: right;
}
.resetall{
    width: 100%;
}
hr{
    margin-bottom: 10px;
    margin-top: 3px;
}
label{
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    color: #446E8E;
    margin-bottom: 15px;
    &:hover{
        text-decoration-line: underline;
        cursor: pointer;
        color: rgb(95, 146, 185);
    }
}
#remember{
    margin-top: 10px;
}
#rememberLabel{
    font-size: 14px;
}
#sortSelector{
    float: right;
}
.mat-first-box {
    display: inline-block; margin-right: 15px;
}
.mat-last-box {
    display: inline-block;
}