
<div id="productListContainer">
  <ng-container  *ngFor="let package of packages, index as i" >
      <app-product-list-page *ngIf="currentPage === i" [productsPackage]="package" [config]="config"></app-product-list-page>
  </ng-container>
  <div style="height: 20px; margin: 10px">
    <span style="float: right">
      <ng-container *ngIf="packages.length > 1">
        <ng-container *ngFor="let package of packages, index as i">
          <button (click)="currentPage = i; toTop()" [class.active]="currentPage === i">{{i + 1}}</button>
        </ng-container>
      </ng-container>
    </span>
  </div>
</div>