@import '../../../global-vars.scss';
@import '../../../global-mixins.scss';

$font: 'Lato', sans-serif;

$primary: #79C7C5;
$white: #F9FBFF;
$dark: #777777;

.static-row{
  display: flex;
  width: 100%;

  .incoming {

    display: inline-block;
    margin-right: auto;
    max-width: 80%;

      .bubble {
        @include light-shadow;
        border-radius: 15px;
        border-top-left-radius: 0;
        background: lighten($dark, 0%);
      }
    }
    
  .outgoing {

    display: inline-block;
    margin-left: auto;
    max-width: 80%;



      .bubble {
        border-radius: 15px;
        border-top-right-radius: 0;
        background: $primary;
      }
    }

}



.remove-message {
  cursor: pointer;
}
.bubble {
    margin-bottom: 5px;
    font-size: 13px;
    padding: 7px 10px 7px 12px;
  }







