




<div [ngClass]="{'outgoing': currentUserMessage, 'incoming': !currentUserMessage}">
  <div class="bubble">{{messageRowObj.message.message}}</div>
  <span 
    *ngIf="currentUserMessage" 
    (click)="deleteMessage.emit(messageRowObj.key)" 
    [ngClass]="{'remove-message': true, 'none': firstMessage}">x</span>
</div>
<br>

<!-- <hr>
<div class="incoming">
  <div class="bubble lower">Nah, it's cool.</div>
  <div class="bubble">Well you should get your Dad a cologne. Here smell it. Oh wait! ...</div>
</div> -->







<!-- /*

<div class="chat-message clearfix" [ngClass]="{'current-user-message': currentUserMessage}" currentUserMessage [class.firstMessage]="firstMessage">
  <img [ngClass]="{'none': currentUserMessage}" [src]="decodeDataChatMember.photoUrl" width="32" height="32"
    onload="this.hidden = false" onerror="this.hidden = true">
  <div class="chat-message-content clearfix">
    <span class="chat-time">{{messageRowObj.message.timestamp | date :'hh:mm' }}</span>
    <!-- <h5 class="name">{{messageRowObj | decodeMessage:decodeDataChatMebrs:'fullName'}}</h5> -->
<!-- <p class="message-text">{{messageRowObj.message.message}}</p> -->
<!-- </div> <!/-- end chat-message-content -->

<!-- </div> end chat-message -->