$font: 'Lato', sans-serif;

$primary: #79C7C5;
$white: #F9FBFF;
$dark: #777777;

.incoming {
  padding: 20px;
  display: inline;
    .bubble {
      background: lighten($dark, 0%);
      max-width: 85%;
    }
  }
  
  .outgoing {
    padding: 20px;
    display: inline;
    
    .bubble {
      background: $primary;
      max-width: 85%;
    }
  }

  .bubble {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: $white;
    font-size: 0.7em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
  }







