<div [ngClass]="{'outgoing': currentUserMessage, 'incoming': !currentUserMessage}">

  <ng-container *ngTemplateOutlet="
  messageRowObj.message.includes('#') ? href:
  messageRowObj.message.includes('~!') ? routerLink : text">
  </ng-container>

  <!-- Delete -->
  <span *ngIf="currentUserMessage && !firstMessage" 
    (click)="deleteMessage.emit(messageRowKey)"
    [ngClass]="{'remove-message': true, 'none': firstMessage}">x
  </span>

</div>
<br>


<!-- Text -->
<ng-template #text>
  <div class="bubble">{{messageRowObj.message}}</div>
</ng-template>


<!-- Router Link -->
<ng-template #routerLink>
  <a class="bubble" routerLink="/{{messageRowObj.message.slice(0,messageRowObj.message.length-2)}}">
     Description Go to Product Link
    </a>
</ng-template>


<!-- Href -->
<ng-template #href>
  <div class="bubble">
    {{messageRowObj.message | isHref:'start-href'}}
    <a target="_blank" [href]="messageRowObj.message | isHref:'href'">
      {{messageRowObj.message | isHref:'href'}}
    </a>
    {{messageRowObj.message | isHref:'href-end'}}
  </div>
</ng-template>
<!-- class="bubble lower" -->
