.loading { 
    position: absolute;
    margin: 8px 30%;
}

.overflow{
    overflow: auto;
    border: 1px solid gainsboro;
}
.toggle-emoji {
    cursor: pointer;
    transition: 0.2s;
    width: 30px;
    float: right;
    margin: 3px 3% 0;
    &:hover{
        width: 32px;
    }
}

.comments-box {
    // overflow: auto;
    max-height: 300px;
    width: 70%;
    margin: auto;
    border-radius: 16px;
    // border: 1px solid gainsboro; 
    box-shadow: -6px -7px 39px -23px grey;
    .filter {
        float: left;
        margin: 15px 56px 0;
        width: 23%;
    }


    .filter-arrows {
        cursor: pointer;
        float: left;
        .activated-sort-direction{
            margin-top: 80%;
            display: inline-block;
            color: rgb(0, 115, 255) !important;
        }
        .up:active{
            top: -3px;
        }
        .down:active{
            top: 3px;
        }
    
    }

    &::-webkit-scrollbar {
        width: 0.8em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(194, 194, 194);
        outline: 1px solid slategrey;
    }
}

.write-comment-fields { 
    width: 70%;
    margin: 0 auto;
    mat-form-field { width: 100%;}

    button {
        float: right; 
    }
}


