<section class="comments-box" 
    [class.overflow]="dinamicCommentsArray?.length > 1" 
    [hidden]="!dinamicCommentsArray?.length">
    <!-- Spinner -->
    <ng-template #elseTemplate>
        <mat-spinner class="loading"></mat-spinner>
    </ng-template>

    <!-- Select Filter -->
    <section class="sort-section" [hidden]="!(dinamicCommentsArray?.length > 1)">
        <div class="sort-selector">
            <mat-form-field class="filter">
                <mat-label>Sort</mat-label>
                <mat-select [formControl]="selectFilerValue" (ngModelChange)="sort()">
                    <mat-option *ngFor="let option of selectOptions" [value]="option.value">
                        {{option.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="filter-arrows">

            <div
            class="up arrow"
            title="Descending order" 
            [class.activated-sort-direction]="sortingArrowType"
            (click)="sortingArrowType = true; sort()"
            >&#x25b2;</div>

            <div 
            class="down arrow"
            title="Descending order" 
            [class.activated-sort-direction]="!sortingArrowType"
            (click)="sortingArrowType = false; sort()"
            >&#x25bc;</div>

        </div>
    </section>
        
        
        <!-- Comments -->
    <ng-container *ngFor="let singleComment of dinamicCommentsArray; index as ind; trackBy:trackByComment">
        <!-- If db has user -->
        <!-- ete es fals chi etum ende hamel chi vergrum ng if chi toxum -->
        <app-single-comment
            *ngIf="decodedZip?.get(singleComment.sender) as decodedFields"
            [commentEditing]="selectedCommentEditingInd === ind"
            (likeComment)="toggleLikeComment($event)" 
            (deleteComment)="deleteComment($event)"
            (editComment)="showEditingCommentFields($event,ind)"
            [singleComment]="singleComment" 
            [decodedFields]="decodedFields"
            [currentUser]="currentUser" 
            [senderUid]="singleComment.sender" 
            [currentProductId]="productFields.currentProductRouteId">
        </app-single-comment>

    </ng-container>
</section>


<!-- Add comment -->
<div class="write-comment-fields">
    <mat-form-field appearance="outline">
        <mat-label>Write Comment</mat-label>
        <textarea matInput placeholder="Write Good Comment" [formControl]="commentTexteria">
        </textarea>
        <button [_persistance]="submitButtonCallack" mat-raised-button color="primary">{{submitButtonText}}</button>
        <button *ngIf="isEditing" (click)="cancelCommentEditing()" mat-raised-button >Cancel</button>
        <div>
            <img (click)="showEmojiPanel = !showEmojiPanel" class="toggle-emoji" src="assets/comments/emoji/toggle-emoji-box.png">

        </div>
        <mat-hint>{{this.commentTexteria.value.length}} / {{commentMaxLength}}</mat-hint>

    </mat-form-field>
    
    <div class="emoji-box">
        <app-emoji (setEmoji)="setEmoji($event)"></app-emoji>
    </div>
    

</div>