<div *ngIf="thisProduct" class="section">
  <div class="gridRow">
    <div class="gridLeft">
      <img [src]="currentSrc">
    </div>
    <div class="gridMiddle">
      <div class="smallCaps"><b>{{thisProduct.name}}</b></div>
      <div style="font-size: 13px">from <a [routerLink]="['/','products','brands',thisProduct.brand]">{{thisProduct.brand}}</a></div>
      <hr>
      <p style="font-size: 14px">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic officiis rerum architecto cum dolores vel, recusandae quis culpa, nostrum iure debitis ad illum nesciunt esse ipsam. Impedit labore quo ab?
      </p>
      <div class="slide">
        <app-image-slider (setSrc)="currentSrc = $event" [imageCollection]="thisProduct.images"></app-image-slider>
      </div>
    </div>
    <div class="gridRight">
      <h4 style="font-weight: bold">{{thisProduct.price | currency}}</h4>
      <span style="font-size: 12px">Quantity</span><br>
      <div>

        <button 
        [_persistance]="addToBasket"
        id="addToBasket"
        [innerHTML]="isInBasket ? 'IN BASKET' : 'ADD TO BASKET'"
        [_inactive]="isInBasket"
        ></button>
      </div>
      <hr>
      <h6 style="font-weight: bold">Product details</h6>
      <div style="font-size: 11px">
          <div><span><b>Weight</b></span><span style="float: right">{{thisProduct.details.weight}}g</span></div>
          <div><span><b>Origin Country</b></span><span style="float: right">{{thisProduct.details.originCountry}}</span></div>
          <div><span><b>Post Date</b></span><span style="float: right">{{toDate(thisProduct.postDate) | date}}</span></div>
          <div><span><b>Materials</b></span><span style="float: right" *ngFor="let material of thisProduct.details.material, first as first"> {{material[0].toUpperCase() + material.slice(1)}}<span *ngIf="!first"> ,</span></span></div>
          <div ><span><b>Colors</b></span><div style="float: right; margin: 3px 1px; border-radius: 50%; height: 10px; width: 10px; box-shadow: 1px 1px 1px black" *ngFor="let color of thisProduct.details.colors" [style.background]="color"></div></div>
      </div>
      <hr>
      <h6 style="font-weight: bold">Vendor Profile</h6>
      <table>
        <tr>
          <td><img class="vendorImg" [src]="thisProduct.vendor.img"></td>
          <td style="padding-left: 10px">
            <div style="display: inline-block; font-size: 12px">
              <span><b>{{thisProduct.vendor.fullName}}</b></span><br>
              <span>{{thisProduct.vendor.country}}, <i>{{thisProduct.vendor.city}}</i></span><br>
              <span>{{thisProduct.vendor.rating | rating}}</span><br>
              <span><a href="">{{thisProduct.vendor.email}}</a></span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-product-slider *ngIf="moreFromThisBrand" [href]="['/','products','brands',thisProduct.brand]" [title]="'More from ' + thisProduct.brand" [productCollection]="moreFromThisBrand" [config]="{ratio: 4, likeable: true, info: true}"></app-product-slider>
<div *ngIf="similarProducts?.length" class="section">
  <div><h3 class="similarProducts">Similar products</h3></div>
  <hr>
  <app-product-list [productCollection]="similarProducts" [config]="{ratio: 4, likeable: true, info: true}"></app-product-list>
</div>