@import '../../../../global-vars.scss';
@import '../../../../global-mixins.scss';


.view-box{
    display: flex;
    flex-direction: column;
    @include side-padding(10px);
    padding-top: 10px;
    .captions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        @include side-margin(3px,vertical);
        .product-name{
            div:first-child{
                font-variant: small-caps;
                color: $theme-dark;
                margin-right: 5px;
                font-size: 16px;
                font-weight: bold;
            }
            div:last-child{
                color: $theme-dark;
                font-size: 12px;
            }
        }
        .post-date{
            span:first-child{
                color: rgb(153, 153, 153);
                font-size: 13px;
            }
            span:last-child{
                background: $theme-light;
                color: white;
                padding: 3px 5px;
                border-radius: 3px;
            }
        }
    }
    .view-box-body{
        display: flex;
        flex-direction: column;
        .image-slider{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            overflow-x: auto;
            @include flat-scroll;
            img{
                flex-shrink: 0;
                height: 150px;
                width: 150px;
            }
        }
    }
}

.additional{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 15px;
    background: #e7e7e7;
    box-shadow: inset 0px 0px 2px 1px gray;
    .plain-txt{
        font-size: 14px;
        color: $theme-dark;
    }
    a.plain-txt{
        font-size: 14px;
        color: $theme-light;
    }
    
    .avatars{
        margin-left: 10px;
        margin-right: -10px;
        .product-img{
            cursor: pointer;
            outline: none;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            @include light-shadow;
            @include cascade(5px);
            &:hover{
                height: 60px;
                width: 60px;
            }
        }
    }
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
}