<div class="content-section">
  <div class="section-heading">
    <div class="title">Last Activity</div>
    <div class="view-more">
      <a [routerLink]="['/','product',lastProduct.id]">view more</a>
    </div>
  </div>
  <hr />
  <div class="section-body">
    <div class="view-box">
      <div class="captions">
        <div class="post-date">
          <span>Posted on </span>
          <span>{{toDate(lastProduct.postDate) | date}}</span>
        </div>
      </div>
      <div class="view-box-body">
        <div class="product-name">
          <span>{{lastProduct.name}}</span>
          <span>
            from
            <a [routerLink]="['/','products','brands',lastProduct.brand]">{{lastProduct.brand}}</a>
          </span>
        </div>
        <div class="image-slider">
          <img *ngFor="let src of lastProduct.images" [src]="src">
        </div>
      </div>
    </div>
  </div>
</div>

