@import '../../global-vars.scss';
@import '../../global-mixins.scss';

.search-box-results { 
    overflow: auto;
    max-height: 318px;
    background: rgb(243, 243, 243);
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 99.5%;
    box-shadow: -5px 5px 7px rgb(141, 141, 141);
    z-index: 999;

    @include flat-scroll;
}

.not-found {
    color: gray;
    text-align: center;
    margin: 2%;
}

.flex-box{
    display: flex;
    flex-flow: row wrap;
}
.flex-item{
    flex-basis: 300px;
    flex-grow: 1;
}