

/*----- side-radius -----*/

@mixin side-radius($side, $amount, $reset: true) {
    @if($reset){
        border-radius: initial;
    }
    @if($side == top){
        border-top-left-radius: #{$amount};
        border-top-right-radius: #{$amount};
    }
    @else if($side == bottom){
        border-bottom-left-radius: #{$amount};
        border-bottom-right-radius: #{$amount};
    }
    @else if($side == left){
        border-top-left-radius: #{$amount};
        border-bottom-left-radius: #{$amount};
    }
    @else if($side == right){
        border-bottom-right-radius: #{$amount};
        border-top-right-radius: #{$amount};
    }
}


/*----- side-padding -----*/

@mixin side-padding($amount, $direction: horizontal){
    @if($direction == horizontal){
        padding-right: #{$amount};
        padding-left: #{$amount};
    }
    @else if($direction == vertical){
        padding-top: #{$amount};
        padding-bottom: #{$amount};
    }
}


/*----- margins -----*/

@mixin side-margin($amount, $direction: horizontal){
    @if($direction == horizontal){
        margin-right: #{$amount};
        margin-left: #{$amount};
    }
    @else if($direction == vertical){
        margin-top: #{$amount};
        margin-bottom: #{$amount};
    }
}

@mixin reset-margins {
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: unset;
}

/* --- Shadows --- */

@mixin light-shadow ($color: gray){
    box-shadow: 2px 2px 3px $color;
}

@mixin mid-shadow ($color: gray){
    box-shadow: 0px 0px 10px 3px $color;
}

@mixin strong-shadow ($color: gray){
    box-shadow: 2px 2px 10px 10px $color;
}

@mixin extra-shadow ($color: gray){
    box-shadow: 0px 0px 12px 15px $color;
}



/* ---------- Cascade ---------- */

@mixin cascade($depth,$direction: horizontal,$color: #363636) {

    position: relative;
    transition: all 0.3s;


    $translate-scale: undefined;

    @if ($direction == horizontal){
        $translate-scale: #{-($depth / 2)},#{-($depth / 2)};
        &:not(:first-child){
            box-shadow: #{-$depth / 5} 0px 5px 1px $color;
        }
        &:first-child{
            box-shadow: 0px 0px 5px 1px $color;
        }
        
        
    }
    @else if($direction == vertical){
        $translate-scale: #{$depth / 2},#{-($depth / 2)};

        &:not(:first-child){
            box-shadow: 0px #{-$depth / 2} 5px 1px $color;
        }
        &:first-child{
            box-shadow: 0px #{-$depth / 5} 5px 1px $color;
        }
    }

    @for $i from 1 through 50{
        &:nth-child(#{$i}){
            @if ($direction == horizontal) {
                left: (#{($i - 1) * -$depth})
            }
            @else if($direction == vertical){
                top: (#{($i - 1) * -$depth})
            }
        }
    }

    &:hover{
        transform: translate($translate-scale);
        box-shadow: 0px 0px 7px 4px $color;
    }

}


@mixin flat-scroll {
    &::-webkit-scrollbar {
        width: 1em;
    }
     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: rgb(194, 194, 194);
      outline: 1px solid slategrey;
    }
}