.href {
    padding-right: 20px;
}
.basket-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: rgb(243, 243, 248);
    font-size: 12px;
    font-weight: bold;
    color: #446E8E;
    padding-right: 5%;
    padding-left: 5%;

}
