<div class="mainContainer">
<div class="section back">
<table>
  <tr>
    <td>
      <b>Customer Service</b>
      <br>
      <a href="">Contact</a><br>
      <a href="">Ordering & Payment</a><br>
      <a href="">Shipping</a><br>
      <a href="">Returns</a><br>
    </td>
    <td>
      <b>Information</b>
      <br>
      <a href="">Privacy Policy</a><br>
      <a href="">Terms & Conditions</a><br>
      <a href="">Open a Shop</a><br>
      <a href="">FAQ</a><br>
    </td>
    <td>
      <b>Subscribe via Email</b>
      <br>
      <span>Don't miss best deals</span>
      <br><br>
      <div class="subscribe">
      <input type="text" placeholder="Email Adress">
      <button>Subscribe</button>
      </div>
    </td>
    <td class="toTop">
      <img matTooltip="Share via instagram" matTooltipPosition="above" src="assets/instagram.png">
      <img matTooltip="Share via facebook" matTooltipPosition="above" src="assets/facebook.png">
      <img matTooltip="Share via twitter" matTooltipPosition="above" src="assets/twitter.png">
      <img matTooltip="Share via pinterest" matTooltipPosition="above" src="assets/pinterest.png">
    </td>
  </tr>
</table>
</div>
<div align="center">
<hr>
</div>
<div class="section back2">
<div>
  <span style="float: left">&#169; 2019 ModeConcept. All Rights Reserved</span>
  <span style="float: right; padding-right: 20px">www.modeconcept.com</span>
</div>
</div>
</div>