<div id="global-container">
    <app-messenger *ngIf="$currentUser | async"></app-messenger>
    <div [@headerTransforming]="currentPage" [ngSwitch]="currentPage" id="sticky-header">
        <div *ngSwitchCase=" 'not-found' ">
            <app-header-not-found></app-header-not-found>
        </div>
        <div *ngSwitchCase=" 'checkout' ">
            <app-header-checkout></app-header-checkout>
        </div>
        <div *ngSwitchCase=" 'db' ">
            <app-header-db></app-header-db>
        </div>
        <div *ngSwitchDefault>
            <app-header></app-header>
        </div>
    </div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <div [ngSwitch]="currentPage" id="footer">
        <app-footer-db *ngSwitchCase=" 'db' "></app-footer-db>
        <app-footer-basket *ngSwitchCase=" 'basket' "></app-footer-basket>
        <app-footer-basket *ngSwitchCase=" 'checkout' "></app-footer-basket>
        <app-footer *ngSwitchDefault></app-footer>
    </div>
</div>