#global-container {

    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    #sticky-header{
        position: sticky;
        top: 0;
        z-index: 10;
        // *{
        //     flex-basis: 100%;
        //     flex-grow: 1;
        // }
    }

    #footer{
        margin-top: auto;
    }
}