<section>
<!-- 
  <img (click)="showNotifys = !showNotifys" src="assets/chat/notyfy-img.png">


  <div [ngClass]="{'hid-panel': showNotifys,'messages-panel': !showNotifys}">
    <div *ngFor="let vendor of notifysAndMessages" class="message-row">
      <h6 class="sender-name">{{vendor.fullName}}</h6>
      <span>Message Text..</span>
    </div> 
    <div class="message-row">
      <h6>Davit Davtyan</h6>
      <span class="message">baylus aaprett jan </span>
    </div>
    <div class="message-row">
      <h6>Artur Hakobyan</h6>
      <span>baylus aaprett jan </span>
    </div>
    <div class="message-row">
      <h6>Armen Asatryan</h6>
      <span>baylus aaprett jan </span>
    </div>
    <div class="message-row">
      <h6>Anna Sargsyan</h6>
      <span>baylus aaprett jan </span>
    </div>
  
   <h5 *ngFor="let vendor of newMessages">{{vendor.fullName}}>Message</h5>

  </div> -->

</section>