<div class="product" [ngStyle]="decoded.positioning">
  <div title="{{thisProduct.name}}" (click)="goToDetails()" class="poster">
    <img [src]="thisProduct.images[0]"  onerror="this.src = 'assets/emptycart.png'">
    <div *ngIf="decoded.likeable" class="likeBox" (click)="like($event)">
      <img class="like" [src]="liked ? 'assets/liked.png' : 'assets/like.png'">
    </div>
  </div>
  <ng-container *ngIf="decoded.info">
    <div class="detail">{{thisProduct.name}}</div>
    <div class="detail">from <a [routerLink]="['/','products','brands',thisProduct.brand]">{{thisProduct.brand}}</a></div>
    <div class="detail">{{thisProduct.rating | rating}}</div>
    <div class="detail">{{thisProduct.price | currency}}</div>
  </ng-container>
</div>