.product{
    display: inline-block;
    border-left: outset transparent 2px;
    border-top: outset transparent 2px;
    transition: all 0.3s;
    &:hover{
        box-shadow: 3px 3px 5px gray;
        border-color:rgb(226, 226, 226);
        border-radius: 5px;
    }
}
.likeBox{
    border-radius: 50%;
    background: rgb(214, 214, 214);
    opacity: 0.8;
    padding: 4px 9px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.poster{
    outline: none;
    position: relative;
    cursor: pointer;
    .like{
        height: 13px;
        width: 13px;
    }
    img{
        height: 100%;
        width: 100%;
        &:hover{
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
}

.detail{
    font-size: 12px;
    text-indent: 5px;
}