<div class="section">
  <div class="fields">
    <span>
      <button (click)="clear()" class="action-btn clear-basket">Clear Basket</button>
    </span>
    <span>
      <button (click)="back()" class="action-btn keep-shopping">Keep Shoping</button>
    </span>
  </div>
  <br>
  <div class="flexBox" *ngIf="basketSize; else emptyBasket">
    <div class="flexLeft">
      <div  class="basket-content" *ngFor="let order of basket, index as i">
        <app-basket-item (removeOrder)="remove(i)" [thisOrder]="order"></app-basket-item>
      </div>
    </div>
    <div class="flexRight">
      <app-order-summary (click)="nextRoute()" action="CHECKOUT"></app-order-summary>
    </div>
  </div>
  <ng-template #emptyBasket>
    <div id="empty-basket">
      <img src="assets/emptyBasket.png">
    </div>
  </ng-template>
</div>