
/*--------------------------------------------------------------
/* ---------- Global Styles ----------*/

* {
    margin: 0;
}
html{
    height: 100%;
}
body { 
    min-width: 500px;
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
}
button {
    cursor: pointer
}
.rout-active {
    border-bottom: 2px outset;
    font-size: 140%; 
}


/*---------------------------------------------------------------------------
/* ---------- Document Wide Classes ---------- */

.section{
    padding: 0 16%;
}
.inactive {
    opacity: 0.3;
}
.text-bold {
    font-weight: bold
}
.underline{
    text-decoration: underline;
}
.items-right {
    float: right;
}
.items-left {
    float: left;
}
.center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.pr-color{
    color: #446E8E;
}
.font-10px {
    font-size: 10px
}
.font-11px {
    font-size: 11px
}
.font-12px {
    font-size: 12px
}
.font-13px {
    font-size: 13px
}
.font-14px {
    font-size: 14px
}
.font-15px {
    font-size: 15px
}
.font-16px {
    font-size: 16px
}


/*----------------------------------------------------------------------------------

/* ---------- Angular Material Styles ---------- */


/* --- MatInput Styles ---*/

//border-init
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #446E8E !important;
    opacity: 0.7;
}
//border-focused
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #446E8E !important;
}
//border-error
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: rgb(185, 52, 52) !important;
}

//label-init
.mat-form-field-label {
    color: #446E8E !important;
    opacity: 0.7 !important;
}
//label-focused
.mat-form-field.mat-focused .mat-form-field-label {
    color: #446E8E !important;
    opacity: 1 !important;
}
//label-error
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgb(185, 52, 52) !important;
    opacity: 1 !important;
}

// chat popup
.mat-dialog-container{
    //  padding: 0 !important; // >>>>>>>>>>>???????????????????????????????
    //  overflow: scroll
 }

.cdk-overlay-pane.meggage-box::after {
    padding: 0
}

/* --- MatDialog Styles --- */

.custom-dialog-class .mat-dialog-container{

    background: rgb(239, 239, 243);
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    max-height: 465px;
    box-shadow: 0px 0px 3px 2px #efeff3;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1em;
    }
    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to right, slategrey, rgb(104, 129, 148));
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        outline: 1px solid slategrey;
      }
     
    &::-webkit-scrollbar-track {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }   
}
/* --- MatDialog Warning --- */



.warning-dialog-class .mat-dialog-container{

    min-width: 400px;
    background: rgb(243, 243, 237);
    color: #446E8E;
    text-shadow: 1px 1px 5px rgb(175, 175, 175);
    box-shadow: 0px 0px 3px 3px gray;
    border-radius: 15px;
    button{
        background: rgb(224, 224, 212);
        color: rgb(136, 136, 66);
    }

}

.primary-dialog-class .mat-dialog-container{

    min-width: 400px;
    background: rgb(239, 239, 243);
    color: #446E8E;
    text-shadow: 1px 1px 5px rgb(175, 175, 175);
    box-shadow: 0px 0px 3px 3px gray;
    border-radius: 15px;

}

/* --- MatTooltip Styles --- */

.mat-tooltip-panel .mat-tooltip{
    background: slategrey;
}


/* --- MatCheckbox Styles --- */

.mat-checkbox .mat-checkbox-frame {
    border-color: slategrey;
}



/*----------------------------------------------------------------------------------------


/* ---------- Angular Material Theme ---------- */ 

 @import '~@angular/material/theming';
 
 @include mat-core();
  
 $candy-app-primary: mat-palette($mat-blue);
 $candy-app-warn:    mat-palette($mat-red);
 $candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
 
 $candy-app-theme: mat-light-theme(
   $candy-app-primary,
   $candy-app-accent,
   $candy-app-warn
);
 
@include angular-material-theme($candy-app-theme);



html.cdk-global-scrollblock {
    width: initial;
    position: initial;
    overflow-y: initial;
}



//#446E8E;
