@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    font-family: sans-serif
}
.section{
    padding: 0 18%;
}

.inactive{
    opacity: 0.3;
}


//------------------------------
.text-bold {
    font-weight: bold
}    
.font-13px {
        font-size: 13px
    }
.font-12px {
    font-size: 12px
}
.font-11px {
    font-size: 11px
}
.font-10px {
    font-size: 10px
}
.font-14px {
    font-size: 14px
}
.font-15px {
    font-size: 15px
}
.font-16px {
    font-size: 16px
}

.items-right{
    float: right
}