    .toggle-panel-btn {
        transition: 0.2s;
        width: 57px;
        height: 59px;
        cursor: pointer;
        position: absolute;
        margin: -0.6% 18%;
    &:hover{
        width: 61px;
        border-radius: 4px;
        background-color: #f3f3f3;
      }
    }
      
      .messenger-main {  
        z-index: 1;
        position: absolute;
        margin: 75px 41px 0;
        background: whitesmoke;
        box-shadow: 15px 8px 15px grey;
        border-radius: 10px;
}

.messenger {     
    width: 82%;
    margin: 10px auto 0px;
    min-height: 109px;
    text-align: center;
}
.finded-user {
    margin: 9px auto;
    .sinle-result {     
        width: 100%;
        transition: 0.4s;
        text-align: center;
        background: gainsboro;
        border-radius: 10px;
    }
    &:hover {
        // background:darkgrey
    }
}
.finded-user-name { 
    cursor: pointer;
    color: brown;
    transition: 0.2s;
&:hover{font-size: 105%}
}
.mat-form-field{width: 100%;}


