
.flexBox{
    display: flex;
    margin: 20px 0;
}
.flexLeft{
    flex: 62%;
    margin-right: 70px;
}
.flexRight{
    flex: 38%;
    border-radius: 5px;
    height: 100%;
}

mat-form-field{
    width: 100%;
    font-size: 12px;
    transition: margin 0.5s;
}
.indent{
    margin-bottom: 7px;
}
select{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 5px;
    border: solid #446E8E 1px;
    border-radius: 5px;
    outline: none;
}
#postalCode{
    width: 50%;
}

.address-h3 {
    margin: 20px 0
}