
.flexBox{
    display: flex;
    margin: 20px 0;
}
.flexLeft{
    flex: 62%;
    margin-right: 70px;
}
.flexRight{
    flex: 38%;
    border: solid #446E8E 1px;
    border-radius: 5px;
    height: 100%;
    padding: 20px 10px;
    margin-top: 23px;
}
// input{
//     width: 100%;
//     margin-bottom: 15px;
//     padding: 5px 5px;
//     border: solid #446E8E 1px;
//     border-radius: 3px;
//     outline: none;
// }
.shipping-form{
    // margin: 20px;
}
mat-form-field{
    width: 100%;
    font-size: 13px;
    // height: 30px;
}
select{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 5px;
    border: solid #446E8E 1px;
    border-radius: 5px;
    outline: none;
}
#postalCode{
    width: 50%;
}

.address-h3 {
    margin: 20px 0
}