
  <div class="section">
      <h3 class="address-h3"><b>Your Shipping Adress</b></h3>
      
      <div class="flexBox">
  
        <div class="flexLeft">
    
          <form autocomplete="off" [formGroup]="checkoutForm">
    
            <!-- Country -->
            <div class="shipping-form" id="country">
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                  <ng-container *ngIf="countries">
                    <mat-option *ngFor="let country of countries; index as i"  [value]="i">{{country[0]}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
    
            <!-- City -->
            <div class="shipping-form" id="city">
              <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <mat-select formControlName="city" >
                <ng-container *ngIf="cities">
                  <mat-option *ngFor="let city of cities; index as i" [value]="i">{{city}}</mat-option>
                </ng-container>
              </mat-select>
              </mat-form-field>
            </div>

            <!-- Full name -->
            <div class="shipping-form" id="full-name">
              <mat-form-field appearance="outline" [class.indent]="fullNameError">
                <mat-label>Full-name</mat-label>
                <mat-hint align="end"><i>example:</i> James Parker</mat-hint>
                <input  formControlName="fullName" matInput required>
                <mat-error>{{fullNameError}}</mat-error>
              </mat-form-field>
            </div> 
     
            <!-- Adress -->
            <div class="shipping-form" id="adress">
              <mat-form-field appearance="outline" [class.indent]="adressError">
                <mat-label>Adress</mat-label>
                <mat-hint align="end"><i>example:</i> Northern Avenue 5</mat-hint>
                <input formControlName="adress" matInput required>
                <mat-error>{{getErrors(checkoutForm.get('adress'))}}</mat-error>
              </mat-form-field>
            </div>
    
            <!-- Postal code -->
            <div class="shipping-form" id="postal-code">
              <mat-form-field appearance="outline" [class.indent]="postalCodeError">
                <mat-label>Postal Code</mat-label>
                <mat-hint align="end">Min-length 4</mat-hint>
                <input _onlyDigits formControlName="postalCode" matInput required>
                <mat-error>{{getErrors(checkoutForm.get('postalCode'))}}</mat-error>
              </mat-form-field>
            </div>
          
          </form>
    
        </div>
    
        <div class="flexRight">
          <app-order-summary [currentForm]="checkoutForm" action="CONTINUE TO PAYMENT"></app-order-summary>
        </div>
        
      </div>
    </div>