
.shipping-adress{
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
    color: #446E8E;
    margin-top: 10px;
}

.flexBox{
    display: flex;
    margin: 15px 0;
    overflow-y: hidden;
}
.flexLeft{
    flex: 62%;
    margin-right: 70px;
}
.flexRight{
    flex: 38%;
    border-radius: 5px;
    height: 100%;
}

mat-form-field{
    width: 100%;
    font-size: 12px;
    transition: margin 0.5s;
    color: #446E8E;
    .mat-selected{
        color: #446E8E !important;
    }
}
.indent{
    margin-bottom: 7px;
}

#postalCode{
    width: 50%;
}

.address-h3 {
    margin: 20px 0
}