@media (max-width: 1000px){
    .header{
        padding-left: 5%;
        padding-right: 5%;
    }
    .headerToolBar{
        flex-wrap: wrap;
        .search-box{
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
            flex-basis: 100%;
            order: 3;
            flex-grow: 1;
        }
        #logo{
            order: 1;
        }
        #actionButtons{
            order: 2;
        }
    }
}
.panel{
    display: none;
}
@media (max-width: 700px){
    #actionButtons{
        .actionButton{
            button{
                border-radius: 3px ;
                font-size: 11px ;
                padding: 3px 5px ;
            }
        }
        
    }
    .panel{
        display: block;
    }
    #headerCategories{
        display: none ;
    }

    .header-checkout{
        align-items: center;
        .left-side{
            flex-direction: column;
        }
        .steps{
            .line{
                width: 50px;
            }
        }
        
        
    }
    
}