
<div class="flex-box" [style.opacity]="quantity.value ? 'initial' : '0.5'">

  <!----- Poster ----->
  <div class="poster-field">
    <img [src]="thisOrder.product.images[0]" onerror="this.src = 'assets/emptycart.png'">
  </div>

  <!----- Info ----->
  <div class="info-field">
    <div class="item-name" [title]="thisOrder.product.name">{{thisOrder.product.name}}</div>
    <div class="item-brand" >
      <span>from </span>
      <a [routerLink]="['/','products','brands',thisOrder.product.brand]">
        {{thisOrder.product.brand}}
      </a>
    </div>
    <div (click)="removeOrder.emit()" class="remove-btn"><u>Remove</u></div>
  </div>

  <!----- Price ----->
  <div class="price-field">
    <div class="price-quantity">
      <div class="item-price">{{thisOrder.product.price | currency}}</div>
      <div class="item-quantity">
        <input 
        _naturalNumbers 
        min="0"
        type="number"
        [formControl]="quantity"
        />
      </div>
    </div>
    <div class="item-total-price">
      <b>Total: </b> 
      <span>
        {{(thisOrder.product.price * thisOrder.quantity) | currency}}
      </span>
    </div>  
  </div> 

</div>