<div id="container">


 <!-- Close-btn -->
<button 
class="close sticky" type="button" matTooltip="Close"
tabindex="-1" (mousedown)="prevent()" mat-dialog-close
>&times;</button>


<!-- Title -->
<h3 mat-dialog-title class="title" [style.color]="isShownError ? ERROR_COLOR : ''">
  Sign-In
</h3>

<div class="content">

<form autocomplete="off" [formGroup]="signInForm">

  <!-- Email -->
  <div class="sign-in-form">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <mat-hint align="end">Type your valid e-mail</mat-hint>
      <input #emailRef formControlName="email" matInput>
    </mat-form-field>
  </div>


  <!-- Password -->
  <div class="sign-in-form">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <mat-hint align="end">You can reset your password below</mat-hint>
      <input #passwordRef formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword" *ngIf="hidePassword" matTooltip="show password">{{'visibility_off'}}</mat-icon>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword" *ngIf="!hidePassword" matTooltip="hide password">{{'visibility'}}</mat-icon>
    </mat-form-field>
  </div>

  <!-- Submit -->
  <button
  mat-raised-button
  class="submit-btn wide-btn"
  (mousedown)="prevent()"
  (click)="handleSignIn()"
  >Sign-in</button>

  
</form>



<!-- Additional actions -->
<div class="additional-actions">
  <div>
    <!-- Remember me -->
    <mat-checkbox [formControl]="rememberMe" [class.active]="rememberMe.value" class="remember-me" color="primary">Remeber me</mat-checkbox>

    <!-- Forgot password -->
    <span class="forgot-pass redirect" (click)="toResetPassword()">Forgot Password ?</span>
  </div>

  <!-- To sign up -->
  <div class="to-sign-up">
    Don't have an account yet ? <span class="redirect" (mousedown)="prevent()" (click)="toSignUp()">Sign-up</span>
  </div>
</div>
</div>
</div>
<hr class="line">
<!-- Errors -->
<div>
  <span *ngIf="notification" [@enterAnimation] class="notification" [class.loginNotification]="notification === 'Logging in...'">{{notification}} <mat-spinner *ngIf="notification === 'Logging in...'" class="items-right indent" diameter="15"></mat-spinner> </span>
  <span class="placeholder">&nbsp;</span>
</div>
