<div class="container">

  <mat-dialog-content >
    <div class="flex">
      <div class="flex-left">
        <div  class="message" *ngFor="let line of options.message, last as last" [class.indent]="last">{{ line }}</div>
      </div>
      <div class="flex-right">
        <img class="items-right" src="assets/warning.png">
      </div>
    </div>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions class="actions">
    <button (click)="close()" mat-flat-button color="error">OK</button>
  </mat-dialog-actions>
</div>