
.flex{
    display: flex;
}
.flex-left{
    flex: 80%;
}
.flex-right{
    flex: 20%;
}


.actions { 
    button {
        margin: 0px auto;
        outline: none;
        box-shadow: 1px 1px 5px rgb(148, 148, 148);
        width: 80%;
        margin-bottom: 10px;
    }
}
img{
    height: 50px;
    width: 50px;
}