.flexBox{
    display: flex;
    margin: 5px 0 20px 0;
}
.flexLeft{
    flex: 66%;
    margin-right: 15px;
}
.flexRight{
    flex: 34%;
    border-radius: 5px;
    height: 100%;
}

.clear-basket{
    background: rgb(153, 88, 88);
    &:active{
        background: rgb(190, 110, 110);
    }
}

.keep-shopping{
    background: #446E8E;
    &:active{
        background: rgb(94, 142, 179);
    }
}


.basket-header{
    margin-top: 20px;
    .title{
        font-size: 20px;
        font-weight: bold;
        font-variant: small-caps;
        color: #446E8E;
        img{
            height: 35px;
            width: 35px;
        }
    }
    .action-btn{
        border: none;
        margin: 0 3px;
        margin-bottom: 5px;
        color: white;
        font-size: 11px;
        padding: 7px;
        width: 200px;
        border-radius: 5px;
        outline: none;
        
    }
}
.basket-content {
    margin-bottom: 10px;
}

#empty-basket{
    text-align: center;
    img{
        margin-top: 100px;
        height: 300px;
        width: 300px;
    }
}

