
<div class="flex-box">

  <div class="top-panel">

    <!----- panel-static-info ----->
    <div *ngIf="basketSize" class="top-panel-intro">
      <anim-flow inline="true" duration="1" overflow="2">
        <span><u>{{basketSize}} Orders in Basket</u></span>
      </anim-flow>
      <anim-flow inline="true" duration="1.2" delay="400" overflow="2">
        <img src="assets/basket.png">
      </anim-flow> 
    </div>

    <!----- panel-actions ----->
    <div class="top-panel-actions">
      <button title="Keep shopping" (click)="back()" class="action-btn keep-shopping">
        <span>Keep Shoping</span>
        <img src="assets/keep-shopping.png">
      </button>
      <button title="Clear basket" (click)="clear()" class="action-btn clear-basket">
        <span>Clear Basket</span>
        <img src="assets/clear-basket.png">
      </button>
    </div>

  </div>


  <!-------- basket-content -------->
  <div *ngIf="basketSize" class="basket-content">

    <!----- order-list ----->
    <div @list class="ordered-items-list"> 
      <div 
      *ngFor="let order of basket, index as i"
      class="ordered-item"
      @items
      >
        <app-basket-item
        (removeOrder)="remove(i)"
        [thisOrder]="order"
        ></app-basket-item>

      </div>
    </div>

    

    <!----- order-results ----->
    <div class="order-summary">
      <app-order-summary action="CHECKOUT"></app-order-summary>
      <hr class="non-static">
    </div>
    
  </div>
</div>


<!----- below-basket ----->
<div class="additional-fields">
  
  <!----- (you may also like) products ----->
  <div class="additional-products" *ngIf="basketSize">
    <h4 class="title">You May Also Like</h4>
    <hr>
    <app-product-list
    [listRatio]="5"
    *ngIf="randomCollection" 
    [productCollection]="randomCollection"
    ></app-product-list>
  </div>

</div>


<!----- empty-basket-template ----->
<img 
*ngIf="!basketSize" 
id="empty-basket" 
src="assets/emptyBasket.png"
>