hr{
    margin: 7px;  
}
input{
    border: solid 1px #446E8E;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 1px 5px;
    font-size: 13px;
    outline: none;
    width: 80%;
    height: 30px;
}
.apply-btn{
    height: 30px;
    background: #446E8E;
    border: solid 1px #446E8E;
    font-size: 13px;
    color: white;
    width: 20%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
    &:active{
        background: rgb(89, 139, 177);
    }
}

.order-sum {
    font-size: 18px;
    font-weight: bold; 
    color: #446E8E
}
.promo-code {
    margin: 10px 0
}
.action-btn {
    border: none;
    border-radius: 5px;
    background: #446E8E;
    color: white;
    padding: 7px;
    width: 100%;
    font-size: 14px;
    outline: none;
    &:active{
        background: rgb(94, 142, 179);
    }
}