
<div class="flex-box">

  <!----- title ----->
  <div class="title">
    <span>Order Summary</span>
    <hr class="static">
  </div>

  <!----- details ----->
  <div class="details">
    <div class="items-total">
      <div class="detail-title">Items total</div>
      <div class="plain-line"></div>
      <div class="detail-result">
          <span >{{totalQuantity}}</span>
      </div>
    </div>
    <div class="total-pure-price">
      <div class="detail-title">Total pure price</div>
      <div class="plain-line"></div>
      <span class="detail-result">
          {{totalPrice | currency}}
      </span>
    </div>
    <div class="estimated-shipping">
      <div class="detail-title">Estimated shipping</div>
      <div class="plain-line"></div>
      <div class="detail-result">
        <span>{{totalWeight}}g. - {{totalShipping | currency}}</span>
      </div>
    </div>
  </div>

  <!----- promo-code ----->
  <div class="promo-code">
    <input type="text" placeholder="Enter Promo Code">
    <button>Apply</button>
  </div>

  <hr>

  <!----- total ----->
  <div class="total">
    <span>Total:</span>
    <span anim-fork-on-changes>{{(totalPrice + totalShipping) | currency}}</span>
  </div>


  <!-- [disabled]="currentForm?.invalid" -->

  <!----- action-btn ----->
  <div class="action-btn">
    <button 
    mat-raised-button
    color="primary"
    (click)="nextRoute()"
    class="mat-btn"
    >{{action}}</button>
  </div>

  <div anim-fork-on-changes blink="true" class="hidden-total">
    <span>Total:</span>
    <span >{{(totalPrice + totalShipping) | currency}}</span>
  </div>

</div>