<div class="section">
    <h3 class="address-h3"><b>Your Shipping Adress</b></h3>
    <div class="flexBox">

      <div class="flexLeft">
  
  
        <form [formGroup]="checkoutForm">
  
          <div><b>Country</b></div>
          <select #selectedCountry formControlName="country">
            <ng-container *ngIf="countries">
              <option *ngFor="let country of countries; index as i"  [value]="i">{{country[0]}}</option>
            </ng-container>
          </select>
  
          <div><b>City</b></div>
          <select formControlName="city" >
            <ng-container *ngIf="countries">
              <option *ngFor="let city of countries[selectedCountry.value][1]">{{city}}</option>
            </ng-container>
          </select>
          
          <div><b>Full name</b></div>
          <div>
            <input formControlName="fullName" [_feedback]="checkoutForm.get('fullName')" _onlyAlphabet>
          </div>
  
          <div><b>Street adress</b></div>
          <div>
            <input formControlName="streetAdress" [_feedback]="checkoutForm.get('streetAdress')" type="text">
          </div>
  
          <div><b>Postal code</b></div>
          <div id="postalCode">
            <input type="number" formControlName="postalCode" [_feedback]="checkoutForm.get('postalCode')">
          </div>
        
        </form>
  
      </div>
  
      <div class="flexRight">
        <app-order-summary [currentForm]="checkoutForm" action="CONTINUE TO PAYMENT"></app-order-summary>
      </div>
      
    </div>
  </div>