@media (max-width: 1000px){

    .page-container{
        padding-right: 8%;
        padding-left: 8%;
        .flex-box{
            .form-field{
                margin-right: 20px;
                flex-basis: 350px;
                flex-shrink: 0;
            }
            .order-summary{
                flex-basis: unset;
            }
        }
    }
}

@media (max-width: 700px){
    .page-container {
        hr.seperator-hr{
            display: initial;
        }
        .flex-box{
            flex-direction: column;
            margin-bottom: 20px;
            .form-field{
                margin-right: 0;
                flex-basis: unset;
                margin-bottom: 50px;
            }
        }
    }
}