@import '../../../../global-vars.scss';
@import '../../../../global-mixins.scss';

.comment-view {
    transition: all 0.3s;
    margin: 15px 20px;
    box-shadow: 3px 3px 5px #d8d8d8;
    @include side-radius(bottom,15px);
    @include side-radius(top,2px,false);
    @include light-shadow;

    display: flex;
    flex-direction: column;

    .top-panel{
        padding: 5px 10px;
        background: $theme-dark;
        color: white;
        @include side-radius(top,2px);


        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .left-side{
            display: flex;
            align-items: center;
            .sender-name{
                font-weight: bold;
                font-size: 14px;
            }
            .is-edited{
                color: #d6d6d6;
                opacity: 0.7;
                font-size: 12px;
                margin-left: 5px;
            }
        }
        .right-side{
            display: flex;
            align-items: center;
            *{
                cursor: pointer; 
                transition: all 0.2s;
                margin-left: 5px;
                &:hover{
                    text-shadow: 2px 2px 2px black;
                    transform: scale(1.2);
                }
            }

            .delete-comment:hover {
                color: #be1616;
            }
            .edit-comment:hover {
                transform: rotate(10deg);
                color: rgb(185, 196, 255);
            }
        }
    }

    .content{
        display: flex;
        align-items: flex-start;

        .left-side{
            .photo {
                cursor: pointer;
                width: 100px;
                height: 100px;
                float: left;
                margin-right: 10px;
                transition: all 0.3s;
                &:hover{
                    border-radius: 10px;
                    transform: scale(1.1);
                    @include mid-shadow;
                }
            }
            .comment-text {
                padding-top: 3px;
                font-size: 12px;
                text-overflow: ellipsis;
            }
        }

        
        .right-side{
            margin-left: auto;
            padding: 5px;
            padding-right: 10px;
            font-size: 12px;
            color: gray;
        }
    }

    .bottom-panel{
        padding: 5px 10px;
        box-shadow: inset 0px 0px 2px 1px #e7e7e7;
        @include side-radius(bottom,15px);
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .date{
            color: rgb(182, 182, 182);
            font-size: 13px;
            font-weight: bold;
        }
        .like-box{
            display: flex;
            align-items: center;
            padding-top: 2px;
            *{margin-left: 5px}

            .likes-count{
                color: $theme-dark;
            }
            .like-icon{
                .un-liked{
                    color: darkgray !important;
                }

                .mat-icon{
                    cursor: pointer;
                    transition: 0.3s;
                    transform: translate(-4px, 2px);
                    font-size: 200%;
                    &:hover{
                        transform: scale(1.2) translateX(-4px) translateY(2px);
                    }
                }
            }
        }
        
    }
}
.comment-editing {
    transform: scaleX(0.95);
    opacity: 0.8;
} 
