

<div class="write-review">
    <mat-form-field>
      <mat-label>
          Describe and rate {{(profileOwner | async)?.firstName}} in few words...
      </mat-label>
      <textarea 
      rows="10"
      matInput 
      class="review-field"
      maxlength="500"
      [(ngModel)]="reviewText"
      ></textarea>
      <mat-hint align="end">{{reviewText.length}}/500</mat-hint>
    </mat-form-field>
    <div class="actions">
      <button 
      matTooltip="Post Review"
      [disabled]="!reviewText || !rate"
      mat-raised-button 
      class="submit"
      type="submit"
      [_persistance]="postReview"
      >Submit</button>
      <app-rating-scale (setRate)="rate = $event"></app-rating-scale>
    </div>
</div>
<hr />

<div @list >
  <div @items *ngFor="let review of (reviews | async)?.reverse()" >
      <app-single-review (remove)="removeReview($event)" [review]="review"></app-single-review>
  </div>
</div>