<mat-dialog-content >
  <h3 class="message" [ngStyle]="messageStyle">{{ confirmDialogService?.message }} ?</h3>
</mat-dialog-content>

<mat-checkbox class="checkBox" #chBox [hidden]="!confirmDialogService.hasCheckBox"> {{ confirmDialogService.checkBoxText }} </mat-checkbox> 

<mat-dialog-actions class="actions">
  <button (click)="ok(); checkBoxValue(chBox.checked)" mat-flat-button color="primary" mat-dialog-close >Ok</button>
  <button (click)="cancel()" mat-raised-button mat-dialog-close >Cancel</button>
  <!-- <button (click)="cancel()"mat-flat-button color="accent" >Cancel</button> -->
  <!-- <button (click)="cancel()" mat-flat-button color="warn" >Cancel</button> -->
</mat-dialog-actions>
<!-- <mat-spinner></mat-spinner> -->
<mat-progress-bar *ngIf="confirmDialogService.progressLine" mode="indeterminate"></mat-progress-bar>