.message  {margin-bottom: 9%; text-align: center;}
.checkBox { margin-left: 4%; margin-bottom: 4%; display: flex;}
.actions { 
    margin:3% 7%;
    display: contents;
    button { margin:0% 3%}
}
mat-progress-bar { margin-top: 6%; min-width: 200px; }