
.header{
    
    padding: 15px 16%;
    background-image: linear-gradient(to bottom, white, rgb(240, 240, 245));
    box-shadow: 2px 2px 5px gray;
}

#checkout{
    margin-bottom: 30px;
    margin-left: 30px;

    img{
        height: 18px;
        width: 18px;
        margin-right: 10px;
    }
}

$active: rgb(0, 115, 255);

 
.headerToolBar{
    display: flex;
    align-items: center;
    .logo-panel{
        display: flex;
        align-items: center;
        .panel{
            display: none;
        }
        #logo{
            font-size: 24px;
            color: #446E8E;
            cursor: pointer;
            outline: none;
        }
        .hidden-auth-action{
            display: none;
        }

    }
    
    .search-box{
        position: relative;
        min-width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        flex-basis: 400px;
        input{
            width: 100%;
            color: rgb(82, 82, 82);
            padding-left: 5px;
            font-size: 14px;
            padding: 5px;
            border: 1px solid rgb(159, 174, 190);
            border-radius: 10px;
            outline: none;
            transition: background 0.5s;
        }
        input:focus{
            background: rgb(223, 223, 223);
            color: rgb(62, 90, 128);
            border: none;
            padding: 6px;
        }
    }
    input::placeholder{
        font-size: 12px;
        color: rgb(62, 90, 128);
    }
    .auth-action-box{
        margin-left: auto;
    }
}

#headerCategories{
    display: flex;
    white-space: nowrap;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 15px;
    justify-content: space-around;

    .category{
        flex-grow: 1;
        text-align: center;
        margin: 0 7px;
        color: gray;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.3s;
        border: 2px solid transparent;
        outline: none;
    }
    .category:hover{
        color: $active;
        border-bottom-color: $active;
    }
    .activeRoute{
        color: $active;
        border-bottom-color: $active;
    }

}