#global-container {
    position: relative;
    @media (min-width: 700px) {
        #sticky-header{
            position: sticky;
            top: 0;
            z-index: 10;
        };
    }
    
    
    #footer{
        height: 50px;
    }
}

#contetn{
    font-family: monospace;
}
.inline{
    display: inline-block;
    width: 100%;
}