@import '../../../global-vars.scss';
@import '../../../global-mixins.scss';

.product-item {
    display: flex;
    border-bottom: solid white 1px;
    background: rgb(243, 243, 243);
    cursor: pointer;
    transition: all 0.3s;
    height: 70px;
    outline: none;

    &:active{
        opacity: 0.7;
        transition: opacity 0.15s;
    }
}

.product-item:hover{
    background: $theme-light;
    height: 80px;
    span{
        margin-left: 12px;
        color: white;
    }
}

.gridLeft{
    height: 100%;
    transition: all 0.3s;
}


.gridRight{
    flex-grow: 1;
    span{
        display: block;
        margin-left: 5px;
        font-size: 10px;
        color: #446E8E;
    }
    .name {
        font-weight: bold;
        transition: all 0.2s;
    }
    .brand {
        transition: all 0.4s;
    }
    .price {
        transition: all 0.6s;
    }
}

@media (max-width: 1000px) and (min-width: 700px){

    .product-item:hover{
        height: 70px;
    }
    
}
