
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">



  <div class="chat-box">

    <!--------------- Menu ***--------------- -->
    <div class="top-panel" *ngIf="curentChatMember && decodeDataCurrentChatMembers">
      <div class="left-side">
        <div class="intro">
            <img 
            class="avatar" 
            [src]="decodeDataCurrentChatMembers[curentChatMember.userId].photoUrl ?
            decodeDataCurrentChatMembers[curentChatMember.userId].photoUrl : 
            'assets/empty_user.png'" 
            />
            <div class="offline" [class.online]="isOnlineChatMember"></div>
        </div>

        <div class="name"
        matTooltip="Go to profile"
        [routerLink]="['/', 'profile', curentChatMember.userId]" 
        >{{curentChatMember.fullName}}</div>
      </div>
      <div class="right-side">

        <button class="md-btn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="more-vert">more_vert</mat-icon>
        </button>
        <!--  Link To Profile -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/', 'profile', curentChatMember.userId]">
            <mat-icon>account_box</mat-icon>
            <span>Go to profile</span>
          </button>
          <!--  Clear chat -->
          <button mat-menu-item (click)="clearCurrentChat()">
            <mat-icon>delete</mat-icon>
            <span>Clear chat</span>
          </button>
      
          <!-- disable Voise -->
          <div [hidden]="disableVoice">
            <button mat-menu-item (click)="disableVoice = !disableVoice">
              <mat-icon>notifications_off</mat-icon>
              <span>Disable Voice</span>
            </button>
          </div>

          <div [hidden]="!disableVoice">
            <button mat-menu-item (click)="disableVoice = !disableVoice">
              <mat-icon>notifications_onn</mat-icon>
              <span>Enaable Voise</span>
            </button>
          </div>
        </mat-menu>
        <button class="md-btn" mat-icon-button>
            <mat-icon class="close-chat" (click)="closeMessageBox()">clear</mat-icon>

        </button>
      </div>
    </div>



    <div class="content" *ngIf="curentChatMember && decodeDataCurrentChatMembers">
      <ng-container 
      *ngFor="let messageRowObj of allMessages; 
      index as ind;
      first as first; 
      last as last
      trackBy: trackByMessages"
      >
        <app-message-row 
         (deleteMessage)="removeMessage($event)" [firstMessage]="first"
          [messageRowObj]="messageRowObj.message" [messageRowKey]="messageRowObj.key"
          [currentUserMessage]="messageRowObj.message.sender === currentUserId"
          [decodeDataChatMember]="decodeDataCurrentChatMembers[messageRowObj.message.sender]">
        </app-message-row>

        <div class="timestamp-new-message" *ngIf="!last && -(messageRowObj.message.timestamp - allMessages[ind+1].message.timestamp) > 600000" >
          <div class="exact-time">
            <div class="time-text">
              {{messageRowObj.message.timestamp | date: 'hh:mm:'}}
            </div>
          </div>
          <hr>
        </div>
      </ng-container>

        <!-- Readet -->
        <div
        *ngIf="
        allMessages?.length &&
        !allMessages[allMessages.length-1]?.unread"

        class="is-read-message"
        >
          <i>seen</i>
          <mat-icon class="seen-icon">check</mat-icon>
      </div>

        <!-- Typing ... -->
        <div [hidden]="!isTypingChatMember" class="bubble">
            <div class="spinner" >
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
        

        <!-- Send Curren Product Link -->
        <mat-icon *ngIf="showProductSendLink" class="sendCurrentPrLink" title="Send current productLink"
          (click)="sendPatchCurrentProductUrl()">launch
        </mat-icon>

      <!-- </div> -->
    </div>

    <!-- Input @VievChild-->
    <div [ngClass]="{'bottom-bar': true, 'none': !(curentChatMember && decodeDataCurrentChatMembers)}" >

      <div class="chat">
            <input
            autocomplete="off"
            type="text" 
            (keydown.enter)="sendMessage()" 
            placeholder="Type a message..."
            #messageInputRef
            [formControl]="messageInput" 
            autofocus
            />
            <mat-icon
            class="send-message-btn"
            matTooltip="Send Message" 
            (click)="sendMessage()"
            >send</mat-icon>
      </div>
    </div>
  </div>




