
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

<ng-container *ngIf="curentChatMember && decodeDataCurrentChatMembers">


  <div class="chat-box">



    <!--------------- Menu ***--------------- -->
    <div class="top-panel">
      <div class="left-side">
        <img class="avatar" 
        [src]="decodeDataCurrentChatMembers[curentChatMember.userId].photoUrl ?
        decodeDataCurrentChatMembers[curentChatMember.userId].photoUrl : 
        'assets/empty_user.png'" 
        [routerLink]="['/', 'profile', curentChatMember.userId]" 
        />

        <div class="offline" [class.online]="isOnlineChatMember"></div>
      </div>
      <div class="right-side">

        <button class="more-settings" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <!--  Link To Profile -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/', 'profile', curentChatMember.userId]">
            <mat-icon>account_box</mat-icon>
            <span>Go to profile</span>
          </button>
          <!--  Clear chat -->
          <button mat-menu-item (click)="clearCurrentChat()">
            <mat-icon>delete</mat-icon>
            <span>Clear chat</span>
          </button>
      
          <!-- disable Voise -->
          <div [hidden]="disableVoice">
            <button mat-menu-item (click)="disableVoice = !disableVoice">
              <mat-icon>notifications_off</mat-icon>
              <span>Disable Voice</span>
            </button>
          </div>

          <div [hidden]="!disableVoice">
            <button mat-menu-item (click)="disableVoice = !disableVoice">
              <mat-icon>notifications_onn</mat-icon>
              <span>Enaable Voise</span>
            </button>
          </div>
        </mat-menu>
        <mat-icon class="close-chat" (click)="closeMessageBox()">close</mat-icon>
      </div>
    </div>

    <div class="name">{{curentChatMember.fullName}}</div>



    <div class="middle">
      <!-- <div class="voldemort"> -->
        <!-- Message Item -->
        <app-message-row *ngFor="let messageRowObj of allMessages; 
                first as first; 
                trackBy: trackByMessages" (deleteMessage)="removeMessage($event)" [firstMessage]="first"
          [messageRowObj]="messageRowObj.message" [messageRowKey]="messageRowObj.key"
          [currentUserMessage]="messageRowObj.message.sender === currentUserId"
          [decodeDataChatMember]="decodeDataCurrentChatMembers[messageRowObj.message.sender]">
        </app-message-row>

        <!-- Readet -->
        <span *ngIf="!allMessages[allMessages.length-1]?.unread && !isTypingChatMember" class="is-read-message">readet
        </span>

        <!-- Typing ... -->
        <div class="spinner" [hidden]="!isTypingChatMember">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <!-- Send Curren Product Link -->
        <mat-icon *ngIf="showProductSendLink" class="sendCurrentPrLink" title="Send current productLink"
          (click)="sendPatchCurrentProductUrl()">launch
        </mat-icon>

      <!-- </div> -->
    </div>
  </div>

</ng-container>



<!-- Input @VievChild-->
<div class="bottom-bar">
  <div class="chat">
    <input (input)="includRefText()" type="text" (keydown.enter)="sendMessage()" placeholder="Type a message..."
      #messageInputRef maxlength="50" [formControl]="messageInput" autofocus />
    <img class="send-message-btn" title="Send Message" (click)="sendMessage()"
      src="assets/chat/send-message-button64.png" />
  </div>
</div>