<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

<div class="live-chat">
  <header class="clearfix">
      <a class="chat-close" (click)="closeMessageBox()">x</a>
      <h4>{{curentChatMember.fullName}}</h4>
      <span class="chat-message-counter">3</span>
  </header>
  <div class="chat">
      <div class="chat-history">
          <!-- Message Item -->
        <div *ngFor="let messageObj of allMessages; first as first; trackBy: trackByMessages">

          <div class="chat-message clearfix" [class.firstMessage] ="first">
            <img [src]="messageObj | decodeMessage:decodeNamesCurrentChatMebrs:'photoUrl'" alt="" width="32" height="32">
            <div  class="chat-message-content clearfix">
              <span class="chat-time">{{messageObj.message.timestamp | date :'hh:mm' }}</span>
              <h5>{{messageObj | decodeMessage:decodeNamesCurrentChatMebrs:'fullName'}}</h5>
              <p class="message-text">{{messageObj.message.message}}</p>
            </div> <!-- end chat-message-content -->
            <span [ngClass]="{'remove-message': true, 'none': first}"  (click)="removeMessage(messageObj.key)">x</span>
            </div> <!-- end chat-message -->
            <!-- <hr> -->
          </div>

      </div> <!-- end chat-history -->
      <!-- Typing anumation -->

      <!-- <p class="chat-feedback" *ngIf="isTypingChatMember">Your partner is typing…</p> -->
      <div class="spinner" [hidden]="!isTypingChatMember">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

      <form method="post">
          <fieldset>
              <input 
              type="text" 
              placeholder="Type your message…" 
              #messageInputRef maxlength="50" 
              (keydown.enter)="sendMessage()" 
              [formControl]="messageInput" 
              autofocus>
          </fieldset>
      </form>
      <img class="send-message-btn" title="Send Message" (click)="sendMessage()" src="assets/send-message-button64.png" >
  </div> <!-- end chat -->
</div> <!-- end live-chat -->


<!-- {{messageTexteria.value}} -->
<!-- https://www.flaticon.com/free-icon/send-message-button_15537 -->
          <!-- <div class="chat-message clearfix">
              <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32"
                  height="32">
              <div class="chat-message-content clearfix">
                  <span class="chat-time">13:37</span>

                  <h5>Marco Biedermann</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni
                      rem voluptatem delectus!</p>
              </div> 
          </div> 
          <hr> -->
          <!-- <div class="chat-message clearfix">
              <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
              <div class="chat-message-content clearfix">
                  <span class="chat-time">13:38</span>
                  <h5>John Doe</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div> 
          </div> 
          <hr> -->


