@import '../../../global-vars.scss';
@import '../../../global-mixins.scss';

$online: limegreen;
$offline: gray;
$primary: #79C7C5;
$secondary: #A1E2D9;
$white: #F9FBFF;
$dark: #777777;




////----------Typing-Spinner-----------------

.spinner {
  margin: 5px;
  text-align: left;
  margin-bottom: -5px;
}

.spinner > div {
  width: 5px;
  height: 5px;
  margin: 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.is-read-message {
  bottom: -105px;
  left: 20px;
}
// ------------------------









.chat-box{

  display: flex;
  flex-direction: column;
  height: 100%;
  
  .top-panel{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: rgb(241, 241, 241);
    box-shadow: inset 0px 0px 2px 1px rgb(228, 228, 228);
    padding: 10px 15px;

    .left-side{
      display: flex;
      align-items: center;
      height: 40px;

      .intro{
        position: relative;
        height: 100%;
        margin-right: 5px;


        .avatar{
          height: 100%;
          border-radius: 50%;
          outline: none;
        }
        .offline {
          background: $offline;
          position: absolute;
          left: 90%;
          bottom: 0;
          transform: translate(-50%,-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
        
        .online {
          background: $online;
        }
      }

      

      .name {
        cursor: pointer;
        text-transform: uppercase;
        color: $dark;
        font-size: 8px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-right: 5px;
        transition: 0.3s;
        outline: none;
        &:hover{
          color: $theme-light;
          transform: scale(1.1);
          text-shadow: 1px 1px 1px gray;
        }
        &:active{
          color: rgb(125, 170, 211);
        }
      }
    }
    .right-side{

      display: flex;
      align-items: center;

      .md-btn{
        outline: none;
        height: unset;
        width: unset;

        .more-vert{
          transition: 0.3s;
          font-size: 18px;
          &:hover{
            transform: scale(1.5);
            color: $theme-dark;
  
          }
        }
  
        .close-chat{
          transition: 0.3s;
          font-size: 18px;
          &:hover{
            transform: scale(1.5);
            color: red;
          }
        }
      }

    }
  }

  .content{
    height: auto;
    padding: 10px;
    flex-grow: 1;
    overflow: auto;

    .is-read-message {
      font-size: 10px;
      color: rgb(114, 114, 114);
      float: right;

      .mat-icon {
        height: unset;
        width: unset;
        color: rgb(130, 219, 207);
        font-size: 17px;
      }
    }
  }

  .bottom-bar{
    flex-shrink: 0;
    position: relative;

    input{
      width: 97%;
      padding: 10px 40px 10px 10px;
      transition: 0.2s;
      outline: none;
      color: $theme-dark;
      font-size: 12px;

      border-radius: 15px 4px 22px;
      border: 1px solid darkgray;
      margin: 6px 4px
    }

    .send-message-btn { 
      height: unset;
      width: unset;
      transition: 0.18s;
      cursor: pointer;
      color: $theme-dark;
      font-size: 23px;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      &:hover{
        transform: translateY(-50%) scale(1.2);
        right: 15px;
        color: $theme-light;
      }
    }
  }

  
  
}
.none {
  display: none;
}
button.mat-menu-item {
  outline: none;
}

.exact-time{
  display: flex;
  justify-content: center;
  .time-text{
    font-size: 10px;
    color: gray;
  }
}

hr{
  width: 90%;
  @include reset-margins;
  margin-top: 5px;
}

.timestamp-new-message{
  margin: 10px 0px;
}
