<img 
title="Categories" 
src="assets/menu.png" 
id="menu-item"
class="menu-item" 
(click)="openMenu()"
/>

<div [class.displayed]="shouldOpen" class="category-panel">

  <div
  class="panel-tab"
  routerLinkActive="active-route" 
  [routerLink]="['products','category','All']"
  [routerLinkActiveOptions]="{exact: true}"
  >All categories</div>
  <hr>

  <div 
  class="panel-tab" 
  routerLinkActive="active-route" 
  [routerLink]="['products','category','Watches']"
  >Watches</div>
  <hr>

  <div 
  class="panel-tab" 
  routerLinkActive="active-route" 
  [routerLink]="['products','category','Sunglasses']"
  >Sunglasses</div>
  <hr>

  <div 
  class="panel-tab" 
  routerLinkActive="active-route"
  [routerLink]="['products','category','Bracelets']"
  >Bracelets</div>
  <hr>

  <div 
  class="panel-tab" 
  routerLinkActive="active-route" 
  [routerLink]="['products','category','Necklaces']"
  >Necklaces</div>
  <hr>

  <div 
  class="panel-tab" 
  routerLinkActive="active-route" 
  [routerLink]="['products','category','Combo-Box']"
  >Combo-Boxes</div>
  <hr>
  
</div>
