
<div class="section">
  <h3  class="payment-info">
    <b>Enter your payment information</b>
  </h3>
  <div class="flexBox">
    <div class="flexLeft">
      <form [formGroup]="paymentForm">
        <div>
          <b>Card number</b>
        </div>
        <div>
          <input _onlyDigits [_feedback]="cardNumber" formControlName="cardNumber">
        </div>
        <div>
          <b>Name on card</b>
        </div>
        <div>
          <input _onlyAlphabet [_feedback]="nameOnCard" formControlName="nameOnCard" _format="uppercase">
        </div>
        <div class="exp-date">
          <div>
            <b>Expiration date</b>
          </div>
          <div>
            <select id="month">
              <option *ngFor="let month of months">{{month}}</option>
            </select>
            <select id="year">
              <option *ngFor="let year of nearestYears">{{year}}</option>
            </select>
          </div>
        </div>
        <div class="cvv">
          <div>
            <b>CVV</b>
          </div>
          <div>
            <input [_feedback]="cvv" formControlName="cvv" _onlyDigits id="cvv">
          </div>
        </div>
      </form>
    </div>
    <div class="flexRight">
      <app-order-summary [currentForm]="paymentForm" action="PLACE ORDER"></app-order-summary>
    </div>
  </div>
</div>