
<div class="section">
  <div class="payment-info"><u>Enter Your Payment Information</u></div>
  <hr>
  <div class="flexBox">
    <div class="flexLeft">
      <form autocomplete="off" [formGroup]="paymentForm">

        <!-- Card Number -->
        <div class="payment-form">
          <mat-form-field appearance="outline">
            <mat-label>Card Number</mat-label>
            <mat-hint align="end">{{cardNumberHint}}</mat-hint>
            <input _onlyDigits formControlName="cardNumber" matInput [type]="hideCardNumber ? 'password' : 'text'" required>
            <mat-icon [class.invalid-icon]="shownCardNumberError" matSuffix (mousedown)="prevent()" (click)="hideCardNumber = !hideCardNumber" *ngIf="hideCardNumber" matTooltip="showe card number">{{'visibility_off'}}</mat-icon>
            <mat-icon [class.invalid-icon]="shownCardNumberError" matSuffix (mousedown)="prevent()" (click)="hideCardNumber = !hideCardNumber" *ngIf="!hideCardNumber" matTooltip="hide card number">{{'visibility'}}</mat-icon>
            <mat-error>{{cardNumberError}}</mat-error>
          </mat-form-field>
        </div> 

        <!-- Name On Card -->
        <div class="payment-form">
          <mat-form-field appearance="outline">
            <mat-label>Name On Card</mat-label>
            <mat-hint align="end"><i>example: </i>JAMES PARKER</mat-hint>
            <input formControlName="nameOnCard" matInput required>
            <mat-error>{{nameOnCardError}}</mat-error>
          </mat-form-field>
        </div>

        <!-- Month -->
        <div class="payment-form inlineExp">
          <mat-form-field appearance="outline">
            <mat-label>Exp. Month</mat-label>
            <mat-select formControlName="expMonth">
              <mat-option *ngFor="let month of months" [value]="expMonth.value">{{month}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

          <!-- Year -->
        <div class="payment-form inlineExp">
          <mat-form-field appearance="outline">
          <mat-label>Exp. Year</mat-label>
            <mat-select formControlName="expYear">
              <mat-option *ngFor="let year of nearestYears" [value]="expYear.value">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- CVV -->
        <div class="payment-form inlineCvv">
          <mat-form-field appearance="outline">
            <mat-label>cvv</mat-label>
            <mat-hint align="end">Min-length 3</mat-hint>
              <input _onlyDigits formControlName="cvv" matInput required>
            <mat-error>{{cvvError}}</mat-error>
          </mat-form-field>
        </div>

      </form>
    </div>
    <div class="flexRight">
      <app-order-summary [currentForm]="paymentForm" action="PLACE ORDER"></app-order-summary>
    </div>
  </div>
</div>