<!-- <button (click)="updateDoc(name.value)">Update</button>
<input #name type="text">
<br><br>
<button (click)="getId(byname.value)">Get ID by name</button>
<input #byname type="text">
<br><br>
<button (click)="checkDb()">Check DB</button>
<!-- <br><br> --> 
<!-- <button (click)="f()" style="margin-left: 200px; width: 200px">Console</button> -->


<!-- <button (click)="clearDb()" style="margin-left: 200px; background: rgb(211, 94, 94); border: none;" >CLEAR DB (DANGER)</button> -->
<br>
<br>
<button (click)="push()" style="margin-left: 200px; width: 200px; background: rgb(211, 94, 94); border: none;">PUSH (DANGER)</button>