<section>


<form [formGroup]="postForm">

    <mat-vertical-stepper [linear]="isLinear" #stepper>
  
      <!-- Name -->
      <mat-step>
        <ng-template matStepLabel>Name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Brand -->
      <mat-step>
        <ng-template matStepLabel>Brand</ng-template>
        <mat-form-field>
          <input matInput placeholder="Brand" formControlName="brand" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Category -->
      <mat-step>
        <ng-template matStepLabel>Category</ng-template>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option selected value="4RMgpOFfkrNEyI9oB94p">Combo-Box</mat-option>
            <mat-option value="NCDp84gg0Jq68BlaW9I4">Watches</mat-option>
            <mat-option value="YVy1OeWJ4zFi2cZ9037Y">Bracelets</mat-option>
            <mat-option value="blZjBy1paLV2d4MGMNBL">Necklaces</mat-option>
            <mat-option value="ejAAqdNIPrStLaCe6uFF">Sunglasses</mat-option>
          </mat-select>
        </mat-form-field>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Gender -->
      <mat-step>
        <ng-template matStepLabel>Gender</ng-template>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="men">Men</mat-option>
            <mat-option value="women">Women</mat-option>
            <mat-option value="unisex">Unisex</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Main Color -->
      <mat-step>
        <ng-template matStepLabel>Main Color</ng-template>
        <div formArrayName="mainColor">
          <mat-form-field *ngFor="let main of mainColor.controls, index as i; first as first">
            <mat-label>Main color {{first ? '' : i + 1}}</mat-label>
            <mat-select [formControlName]="i">
              <mat-option [style.backgroundColor]="color" *ngFor="let color of colors" [value]="color">{{color | dash}}
              </mat-option>
            </mat-select>
            <mat-icon *ngIf="!first" matSuffix (click)="removeControl(mainColor,i,$event)">clear</mat-icon>
          </mat-form-field>
        </div>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button (click)="addControl(mainColor)" type="button">Add Main color</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Additional Color -->
      <mat-step>
        <ng-template matStepLabel>Additional Color</ng-template>
        <div formArrayName="additionalColor">
          <mat-form-field *ngFor="let additional of additionalColor.controls; index as i; first as first">
            <mat-label>Additional color {{first ? '' : i + 1}}</mat-label>
            <mat-select [formControlName]="i">
              <mat-option [style.backgroundColor]="color" *ngFor="let color of colors" [value]="color">{{color | dash}}
              </mat-option>
            </mat-select>
            <mat-icon *ngIf="!first" matSuffix (click)="removeControl(additionalColor,i,$event)">clear</mat-icon>
          </mat-form-field>
        </div>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button (click)="addControl(additionalColor)" type="button">Add additional color</button> 
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Material -->
      <mat-step>
        <ng-template matStepLabel>Material</ng-template>
  
        <div formArrayName="material">
          <mat-form-field *ngFor="let mat of material.controls, index as i; first as first">
            <mat-label>Material {{first ? '': i}}</mat-label>
            <mat-select [formControlName]="i">
              <mat-option value="iron">Iron</mat-option>
              <mat-option value="leather">Leather</mat-option>
              <mat-option value="plastic">Plastic</mat-option>
              <mat-option value="gold">Gold</mat-option>
              <mat-option value="silver">Silver</mat-option>
              <mat-option value="bronze">Bronze</mat-option>
            </mat-select>
            <mat-icon *ngIf="!first" matSuffix (click)="removeControl(material,i,$event)">clear</mat-icon>
          </mat-form-field>
        </div>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button (click)="addControl(material)" type="button">Add material</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
  
      <!-- Country -->
      <mat-step>
        <ng-template matStepLabel>Country</ng-template>
        <mat-form-field>
          <input matInput type="text" placeholder="originCountry" formControlName="originCountry">
        </mat-form-field>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Weight -->
      <mat-step>
        <ng-template matStepLabel>Weight</ng-template>
        <mat-form-field>
          <input matInput type="number" placeholder="weight" formControlName="weight">
          <span matSuffix>g.</span>
        </mat-form-field>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <!-- Price -->
      <mat-step>
        <ng-template matStepLabel>Price</ng-template>
        <mat-form-field>
          <input matInput type="number" formControlName="price" placeholder="price">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
      <mat-step>
        <ng-template matStepLabel>Upload Image</ng-template>
        <!-- images -->
        <div>upload image</div>
        <div>
          <div class="image-container" *ngFor="let imgSrc of selectedImages, index as i">
            <img [src]="imgSrc">
            <mat-icon (click)="selectedImages.splice(i,1)">clear</mat-icon>
          </div>
  
          <label class="upload-label">+
            <input type="file" (change)="addSrc($event,selectedImages);addFile($event)">
          </label>
        </div>
  
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
  
  
  
  
  
      <!-- Submit -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button type="button" mat-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="postProduct()"
            color="warn">Post</button>
        </div>
      </mat-step>
  
  
    </mat-vertical-stepper>
  
  </form>
</section>